<!DOCTYPE HTML>
<html ng-app="VentaApp">
 
<head></head>
 
<body ng-controller="VentaCtrl">
    
        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="usuarios"><u>bandeja</u></a> 
                <a class="navbar-text">Bienvenido</a>
            </div>
        </div>
    <div align = "center"><h2>Lista de Ventas</h2></div>
       <div class="contenedorBotones">		
        <button type="button" class="btn btn-default" name="Eliminar" ng-click="">
            <i class="glyphicon glyphicon-plus .blue">Agregar</i></button>
        <button type="button" class="btn btn-default" name="Eliminar" ng-click="">    
            <i class="glyphicon glyphicon-export" ng-click="exportData()">Exportar</i></button>        
       </div>

       <br>
       <div align="center">
            <!--     Con esto se realiza el filtrado o busqueda de usuario    -->
           <strong>Buscar por     </strong>
           <strong>Todos:</strong><input type="text" ng-model="filterOptions.filterText" />
           <strong>Asesor:</strong><input type="text" ng-model="filterAsesor.filterTextAsesor" />
           <strong>Sorteo:</strong><input type="text" ng-model="filterSorteo.filterTextSorteo" />
          
           
           
             <div class="gridStyle" ng-grid="gridOptions" id="exportable"></div>
       </div>
 
</body>
 
</html>